.strong-border {
  border: 3px solid #747474; /* 3px thick black border */
  padding: 5px; /* Optional: add some padding inside the border */
  font-size: x-large;
}

.input_base {
  min-width: 3rem;
  width: 12rem;
}
